 body {
            background: #A2B9CC;
            font-family: 'Oswald', sans-serif;
        }
        button {
            background-color: #5A8CA6;
              border-color: #7A8B99;
            width:69px;
            margin-bottom: 50px;
        }
        h1 {
            text-shadow: 1px 2px 5px #7A8B99;
            font-size-adjust: auto;
            margin-left: 20px;
        }
        header {
          margin: 0;
          padding: 0;
          background-color: rgba(122, 139, 153, 0.9);
            
        }

        .nav ul {
            font-family: 'Oswald', sans-serif;
            display: block;
            margin:0;
            margin-right: 10%;
            padding: 0;
            list-style: none;
        }

        .nav ul:after {
            display: block;
            content: ' ';
            clear: both;
            float: none;
        }
        .nav ul.menu > li {
            float: right;
            padding-right:10px;
            position: relative;
        }
        .nav ul.menu > li > a {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
        }
        .nav ul.menu > li > a:hover {
            background-color: black;
        }
        .nav ul.submenu {
            opacity:0.95;
            display: none;
            position: absolute;
            width: 120px;
            top: 37px;
            left: 0;
            background-color: white;
            border: 1px solid #ccc;
        }
        .nav ul.submenu > li {
            display: block;
        }
        .nav ul.submenu > li > a {
            display: block;
            padding: 10px;
            color: black;

            background-color: #ccc;
            text-decoration: none;
        }
        .nav ul.submenu > li > a:hover {
            text-decoration: underline;
        }
        .nav ul.menu > li:hover > ul.submenu {
            display: block;
        }
            select {
            max-width:490px;
            }
            td {
            border-right: 2px solid #ccc;
            margin-left: 20px;
            padding-right:5px;
            padding-left: 10px;

            }